{%block layout%}
<div id="maDIV" class="cacher">
    <div class="card text-dark bg-dark mb-3" style="max-width: 26rem;">
          <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nom de machine selectionner</h5>
            <button type="button" class="btn-close" onclick="maFonction()"></button>
          </div>
          <div class="modal-body">
            <p>Description de la machine</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Enregistrer</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermé</button>
          </div>
        </div>
    </div>
</div>
{%endblock%}
